# EDITORCONFIG IS AWESOME
root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
indent_style = space

# JAVASCRIPT
[*.{js,json, jsx}]
indent_size = 2

#  CSS, HTML, HBS
[*.{css}]
indent_size = 4

[*.{html, hbs}]
indent_style = tab
